<!--View Information-->
<!--View name : Mesh Node List-->
<!--Controller name : nodeListCtrl-->
<!--Controller path : www/js/controllers.js-->
<!--State name : app.nodelist-->
<!--URL : #app/nodelist-->

<ion-view title="SmartMesh {{ownid.toString(16).toUpperCase()}}">
    <!--menu header section-->
        <ion-nav-buttons side="left">
            <!-- Toggle left side menu -->
            <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
        </ion-nav-buttons>
        <!--right button on navigation bar-->
        <ion-nav-buttons side="right">
            <button class="button back-button buttons button-clear header-item nav-back-btn" ng-click="reconnectBT()">
                <md-icon id="bluetooth-logo" md-svg-src="img/icons/bluetooth.svg"
                         style="display:none;">
                </md-icon>
                <md-icon id="wave-logo" md-svg-src="img/icons/wave-logo.svg"></md-icon>
            </button>
        </ion-nav-buttons><!--end right button on navigation bar-->

    <!--note list section-->
    <ion-content id="note-list-content" class="fade-in">
        <!--list section-->
        <md-list ng-include="'views/FlasherCard.html'"></md-list>
        <md-list ng-include="'views/GatewayCard.html'"></md-list>
        <md-list ng-include="'views/LightCard.html'"></md-list>
        <md-list ng-include="'views/light.html'"></md-list>
        <md-list ng-include="'views/SerialCard.html'"></md-list>
        <md-list ng-include="'views/FlowMeterCard.html'"></md-list>
        <md-list ng-include="'views/CSRlight.html'"></md-list>
        <!--end list section-->
    </ion-content><!--end note list section-->

    <!--footer fab bar-->
    <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer md-mini" ng-click="addCSRlight( 32769 )" aria-label="Add">
            <i class="ion-plus"></i>
        </a>
    </div>
    <!--end footer fab bar-->

    <!--loading progress-->
    <div id="note-list-loading-progress" class="loading-progress fade-in">
        <ion-spinner ng-if="!isAndroid" class="progress-circular"></ion-spinner>
        <md-progress-circular ng-if="isAndroid" md-mode="indeterminate"></md-progress-circular>
    </div>
    <!--end loading progress-->
</ion-view>